[build]
  publish = "dist"
  command = "npx tinacms build && npm run build"
  optimize.assets = false
[build.processing.html]
  pretty_urls = false
[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
