---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Digitalise your business with data solutions"
    subtitle="Explore the services we cater to our clients around Asia Pacific and hear from us on how we have brought forth data backed business solutions."
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse solutions"
    subtitle="Discover the client portfolios and what we offer."
    columns={3}
    items={[
      {
        title: 'Resource Outsourcing',
        description:
          'Offering shared services and allocated resources to our clients to suppliment and outsource data engineering, data analytics and data science capabilities.',
        icon: 'tabler:school',
      },
      {
        title: 'Food & Beverage',
        description:
          'Conducting engines and models for inventory management and resource planning capabilities for the kitchen staff and food stocks/ orders.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Property',
        description: `Utilising Machine Learning models to build pricing models for units and enabling value added services to their clients through data enrichment in the property portals.`,
        icon: 'tabler:home-star',
      },
      {
        title: 'Human Resource',
        description:
          'Providing models and engines that matches candidates and available jobs through AI and Machine Learning algorithms.',
        icon: 'tabler:tie',
      },
      {
        title: 'Freelance Platforms',
        description:
          'Providing resource planning capabilities for the B2B clients and enabling analytics as a B2B data product to their clients to monitor and plan campaigns.',
        icon: 'tabler:article',
      },
      {
        title: 'Web Analytics',
        description:
          'Helping our clients setup web analytics platforms, ie Google Analytics, GTM, Segment, Amplitude and so forth and providing reporting and dashboarding solutions for our clients.',
        icon: 'tabler:building-store',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Started by the people who built the digital age',
        description:
          'After leading data teams in Asia’s top tech firms, we identified common challenges: startups lack resources, and large corporations struggle to scale. Polar Packet bridges this gap by providing scalable data solutions for growing organizations.',
        icon: 'tabler:clock',
      },
      {
        title: 'Shared Service',
        description:
          'We work across a few notable clients at the same time, managing our resources to where we are needed the most, we scale up operations with you when the requests are tougher and shift accordingly.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Having shared services means lower billables and more optimised workflows to manage expectations of all the projects being worked on.',
        icon: 'tabler:coin',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from our customers"
    testimonials={[
      {
        testimonial: `Polar Packet has been an excellent data partner in helping us to setup our in depth data infrastructure and acting as an extension of our internal team, they have been able to help us be more data-centric which has in turn helped increase our growth and scalability in all areas through more informed and effective decision making.`,
        name: 'Craig Goonting',
        job: 'Troopers Innovation',
        image: {
          src: '~/assets/images/testimonial/craig.jpeg',
          alt: 'Craig Goonting Image',
        },
      },
      {
        testimonial: `Polar Packet has helped us smoothen the entire process from setting up our web analytics platform with careful planning and execution. Their meticulous design implementation on building the infrastructure has enabled many business capabilities. Having them onboard as out outsourced data team enabled us to reduce overhead acosts and for us to focus on bigger operational priorities`,
        name: 'Samuel Chan',
        job: 'House 730',
        image: {
          src: '~/assets/images/testimonial/Avatar Notion-05.png',
          alt: 'Samuel Chan Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/contact',
      },
    ]}
    title="Ready for your journey?"
    subtitle="Join our community of satisfied customers who have transformed their businesses with us."
  />
</Layout>
